{% extends 'home.html' %}

{% block content %}

<main class="dashboard-content">
    
    <div class="form-centralizado">
        <div class="form-card-responsavel">
            
            <!-- CABEÇALHO DO CARD -->
            <div class="form-header">
                <h2 class="form-titulo-esq">Cadastro de Responsável</h2>
                <p class="form-subtitulo-esq">Insira os dados do novo membro da equipe de manutenção e frota.</p>
            </div>
            
            <!-- CAMPOS -->
            <div class="form-corpo">
                
                <div class="form-linha">
                    <div class="form-campo">
                        <label>ID (Gerado Auto.)</label>
                        <input type="text" value="RSP-8042" disabled class="input-disabled">
                    </div>
                    <div class="form-campo">
                        <label>Função / Cargo</label>
                        <select>
                            <option>Selecione o cargo...</option>
                            <option>Mecânico</option>
                            <option>Eletricista</option>
                            <option>Supervisor de Frota</option>
                            <option>Gestor de Manutenção</option>
                        </select>
                    </div>
                </div>

                <div class="form-linha">
                    <div class="form-campo full">
                        <label>Nome Completo</label>
                        <input type="text" placeholder="Ex: Sgt. João Silva">
                    </div>
                </div>

                <!-- BOTÕES -->
                <div class="form-acoes-responsavel">
                    <button class="btn-cancelar">Cancelar</button>
                    <button class="btn-cadastrar-resp">Cadastrar Responsável</button>
                </div>

            </div>

        </div>
    </div>

</main>

{% endblock content %}