<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>



<header>
    <div class="navbar">
        <a href="/dashboard">PMSC GESTÃO E FROTA</a>
        <a href="/">Login</a>
    </div>
</header>


<div class="dashboard-container">
    <aside class="sidebar">
        <nav class="navegacao_lado">
            <a href="/dashboard">Dashboard</a>

            <a href="/frota">Frota</a>

            <a href="/historicoManutencao">Histórico de manutenção</a>

            <a href="/historicoVeiculo">Histórico do veículo</a>
        </nav>
    </aside>



{% block content %}






{% endblock content %}




<footer>



</footer>



</div>
</body>
</html>