<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>



<header>
    <div class="navbar">
        <a href="/dashboard">PMSC GESTÃO E FROTA</a>
        <a href="/">Login</a>
    </div>
</header>


<div class="dashboard-container">
    <aside class="sidebar">
        <nav class="navegacao_lado">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            
            <a href="{{ url_for('cadastroItensManutencao') }}">Cadastro de Itens de Manutenção</a>
            
            <a href="{{ url_for('cadastro_viatura') }}">Cadastro de Viatura</a>

            <a href="{{ url_for('cadastro_policial') }}">Cadastro de Policiais</a>
            
            <a href="{{ url_for('cadastroResponsavel')}}">Cadastro de Responsáveis</a>

            <a href="{{ url_for('historicoManutencao') }}">Histórico de manutenção</a>

            <a href="{{ url_for('historicoVeiculo') }}">Histórico do veículo</a>

            <a href="{{ url_for('listar_policial')}}">Listar Policiais</a>

            <a href="{{ url_for('listarResponsavel')}}">Listar Responsáveis</a>

            <a href="{{ url_for('listarViatura') }}">Listar Viaturas</a>

            <a href="{{url_for('listarItemManutencao')}}">Listar Itens de Manutenção</a>


        </nav>
    </aside>



{% block content %}






{% endblock content %}




<footer>



</footer>



</div>
</body>
</html>