{% extends 'home.html' %}

{% block content %}

<main class="dashboard-content">
    
    <!-- TOPBAR -->
    <div class="topbar">
        <div>
            <h1>Listagem de Policiais</h1>
            <p class="subtitulo">Gerencie o efetivo e status de turno da unidade.</p>
        </div>
        <div class="topbar-acoes">
            <input type="text" placeholder=" Buscar por nome ou matrícula..." class="topbar-busca">
            <a href="/cadastroPolicial" class="btn-incluir">Cadastrar Policial</a>
        </div>
    </div>

    <!-- TABELA -->
    <div class="tabela-container">
        <table class="tabela-viaturas">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nome Completo</th>
                    <th>Cargo/Patente</th>
                    <th>Status de Turno</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>987654-3</strong></td>
                    <td>Carlos Eduardo Silva</td>
                    <td><span class="tag-cargo">Sargento</span></td>
                    <td><span class="status-turno em-servico">● Em Serviço</span></td>
                    <td class="acoes">✏️ 🗑️</td>
                </tr>
                <tr>
                    <td><strong>123456-7</strong></td>
                    <td>Ana Beatriz Costa</td>
                    <td><span class="tag-cargo">Cabo</span></td>
                    <td><span class="status-turno de-folga">● De Folga</span></td>
                    <td class="acoes">✏️ 🗑️</td>
                </tr>
                <tr>
                    <td><strong>456789-0</strong></td>
                    <td>Roberto Almeida Nunes</td>
                    <td><span class="tag-cargo">Tenente</span></td>
                    <td><span class="status-turno em-servico">● Em Serviço</span></td>
                    <td class="acoes">✏️ 🗑️</td>
                </tr>
                <tr>
                    <td><strong>654321-9</strong></td>
                    <td>Mariana Lopes Fernandes</td>
                    <td><span class="tag-cargo">Soldado</span></td>
                    <td><span class="status-turno de-folga">● De Folga</span></td>
                    <td class="acoes">✏️ 🗑️</td>
                </tr>
            </tbody>
        </table>
        


    </div>

</main>

{% endblock content %}