<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>



<header>
    <div class="navbar">
        <a href="login.html">PMSC GESTÃO E FROTA</a>
        <a href="#">Login</a>
    </div>
</header>


<main> 
    <div class="login-caixa">
        <div class="dentro-caixa">
            <h1 class="titulo-principal">PMSC GESTÃO E FROTA</h1>
            <p class="subtitulo">Eficiência e controle na palma da mão.</p>
            <img src="../static/image/logoDepartamento.png" alt="Logo PMSC" width="200px" height="200px">
            <p class="texto-restrito">Acesso restrito ao efetivo logístico.</p>

            <form action="POST" class="form-login">
                <div class="campo">
                    <label for="matricula">Matrícula</label>
                    <input type="text" id="matricula" placeholder="Ex: 999999-9">
                </div>
                
                <div class="campo">
                    <label for="senha">Senha de Acesso</label>
                    <input type="password" id="senha" placeholder="******">
                </div>
                
                <button type="button" class="botao-entrar">Entrar no Sistema</button>
            </form>
        </div>
    </div>
</main> 




<footer>


    
</footer>




</body>
</html>